<form method="POST" action="/predict">
<html>
 <head>
 <title>
Form in HTML
</title>
</head>  
<h2 align="center">Iris Machine Learning Model using Supervised Algorithms</h2>
  <hr>
  <form>
  <center>
  <form>
  <center>
<body bgcolor="White" teXt="Black">
<table cellpadding="5pX"border="1pX">
  <tr><td>Sepal Length: </td><td><input type="teXt" name="Sepal_Length"/></td></tr>
  <tr><td>Sepal Width: </td><td><input type="teXt" name="Sepal_Width"/></td></tr>
  <tr><td>Petal Length: </td><td><input type="teXt" name="Petal_Length"/></td></tr>
  <tr><td>Petal Width: </td><td><input type="teXt" name="Petal_Width"/></td></tr>
  <tr><td>Model_Choice: </td><td><select id="role" name="Model_choice">
                      <option value="logitmodel">Logistic Regression</option>
                        <option value="knnmodel">K-Nearest Neighbour</option>
                        <option value="svmmodel">SVM</option>
                    </select></td></tr>
  <tr><td colspan="2"><input type="Submit" value="Predict"><button>Clear</button> <br>
  <p> Predicted result{{ result_prediction  }}</p></td></tr>
  </table>
  
  </center>
  </form>
  </form>



                    